@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
}

body {
    font-family: Montserrat, OpenSans, sans-serif;
}

h1, h2 {
    font-weight: bold;
}
