<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>eIRM</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{{ url_for('static', filename='css/metisMenu.min.css') }}" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="{{ url_for('static', filename='css/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
        <link href="{{ url_for('static', filename='css/dataTables/dataTables.responsive.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ url_for('static', filename='css/startmin.css') }}" rel="stylesheet">
        

        <!-- Custom Fonts -->
        <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://127.0.0.1:5000/">eIRM</a>
                </div>              
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="http://127.0.0.1:5000/"><i class="fa fa-dashboard fa-fw"></i> Home</a>
                            </li>
                            </li>
                            
                            
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                        <img src="{{ url_for('static', filename='img/iDEA.png') }}" style="height:150px;float:left;" >
                            <h2 class="page-header">Encode the image with Catmap</h2>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                <div class="panel-body">
          <h1>Upload an file</h1>
          <hr>
          <form action="/encryption_catmap" method="POST" enctype="multipart/form-data">
              <label>Select File</label>
              <br>
              <img src={{imgUploaded_catmap}} alt="Original image" width="300" height="300">
              
                <input class="form-control" type="file" name="file" id="file" >
                <br>
                <label for="text">Password:</label>
                <input type="text" id="pword_original" name="pword_original" placeholder="Enter your password">
                <br><br>
                <p><input  class="btn btn-primary btn-sm float-left" type = "submit" value = "Submit" /></p>
          </form>
          <br>
          
    </div>
        {% if imgName_catmap %} 
        <div>
        <form id="Encryption_image" action="/decryption_catmap" method="POST" enctype="multipart/form-data">
          <label>Catmap Encryption image</label>
          <br><br>
          <img src={{imgName_catmap}} id="c" alt="Catmap Encryption image" width="300" height="300">
          <br><br>
            <label for="text">Password:</label>
            <input type="text" id="pword_decryption" name="pword_decryption" placeholder="Enter your password">
            <br><br>
            <p><input  class="btn btn-primary btn-sm float-left" type = "submit" value = "Submit" /></p>
      </form>
    </div>                     
        {% endif %}

        {% if imgDecription_catmap %} 
        <div>
          <label>Catmap Decryption image</label>
          <br><br>
          <img src={{imgDecription_catmap}} id="c" alt="Catmap Decryption image" width="300" height="300">
          <br><br>
    </div>                     
        {% endif %}
                                    
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery -->
        <script src="../js/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="../js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="../js/metisMenu.min.js"></script>

        <!-- DataTables JavaScript -->
        <script src="../js/dataTables/jquery.dataTables.min.js"></script>
        <script src="../js/dataTables/dataTables.bootstrap.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="../js/startmin.js"></script>

        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
            $(document).ready(function() {
                $('#dataTables-example').DataTable({
                        responsive: true
                });
            });
        </script>

    </body>
</html>
