<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lê Thị Hồng Dương - Đồ án tốt nghiệp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container text-center" style="margin-top: 20px; margin-bottom: 20px">
    <h1 class="fs-1 text">Đồ Án Tốt Nghiệp</h1>
</div>

<div class="container" style="margin-top: 30px;">
    <h3 class="text-center">Giải mã hình ảnh</h3>
    <form action="/decryption_catmap" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3 col-md-3">
                <label for="loop" class="form-label">Số lần lặp</label>
                <input name="loop" type="number" class="form-control" id="loop" aria-describedby="loop" value="5">
            </div>
            <div class="mb-3 col-md-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="text" class="form-control" id="password" value="ABCVDFGUIOPOKLQAMCNVHFGDFSTWREFD">
            </div>
            <div class="mb-3 col-md-3">
                <label for="control" class="form-label">Tham số điều khiển</label>
                <input name="control" type="text" class="form-control" id="control" value="3.95">
            </div>
            <div class="mb-3 col-md-3">
                <label for="encoded-image" class="form-label">Chọn ảnh đã được mã hóa</label>
                <input name="file" class="form-control" type="file" id="file">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<div class="container" style="margin-top: 80px;">
    <h3 class="text-center">Kết quả</h3>

    <div class="row">
        <div class=" col-md-4">
            <div class="card-body">
                <h5 class="card-title text-center text-success">Ảnh mã hóa</h5>
            </div>
            <img id="preview-image" src="{{image_encryption}}" class="card-img-top" alt="Ảnh mã hóa">
        </div>
        <div class=" col-md-4">
            <div class="card-body">
                <h5 class="card-title text-center text-warning">Ảnh xáo trộn</h5>
            </div>
            <img src="{{image_mix}}" class="card-img-top" alt="Ảnh xáo trộn">
        </div>
        <div class=" col-md-4">
            <div class="card-body">
                <h5 class="card-title text-center text-info">Ảnh gốc</h5>
            </div>
            <img src="{{image_origin}}" class="card-img-top" alt="Ảnh gốc">
        </div>
    </div>
</div>
<br><br>
<form action="/decryption_histogram" method="POST" enctype="multipart/form-data">
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Histogram</button>
    </div>
</form>
{% if histogram_LogisticDecryption %}
<div class="container" style="margin-top: 80px;">
    <h3 class="text-center">Histogram</h3>

    <div class="row">
        <div class=" col-md-4">
            <div class="card-body">
                <h5 class="card-title text-center text-info">Ảnh gốc</h5>
            </div>
            <img id="preview-image" src="{{histogram_LogisticDecryption}}" class="card-img-top" alt="Ảnh gốc">
        </div>
        <div class=" col-md-4">
            <div class="card-body">
                <h5 class="card-title text-center text-warning"> ảnh xáo trộn arnold’s</h5>
            </div>
            <img src="{{histogram_ArnoldDecryption}}" class="card-img-top" alt=" ảnh xáo trộn arnold’s">
        </div>
        <div class=" col-md-4">
            <div class="card-body">
                <h5 class="card-title text-center text-success">ảnh ánh xạ logictis</h5>
            </div>
            <img src="{{histogram_origin_de}}" class="card-img-top" alt="ảnh ánh xạ logictis">
        </div>
    </div>
</div>
{% endif %}
<script>
    // Hiển thị preview ảnh khi chọn ảnh gốc
    document.querySelector("#file").onchange = evt => {
        const [file] = document.querySelector("#file").files
        if (file) {
            document.querySelector("#preview-image").src = URL.createObjectURL(file)
        }
    }
</script>
</body>
</html>
